:root{
  --whitish: rgb(251, 246, 255);
}
*{
  background:black;
  color: var(--whitish);
  /*  */
  margin: 3px;
}
#main{
  text-align: center;
  font-size: 1.7rem;
  /* Quitar lo siguiente 
  background: red;*/
}
#logoIni{
  /* logo */
  font-size: 111px;
}

/*table, */th, td{
  border: 3px solid var(--whitish);
  padding: 4px;
  margin: 2px;
}
table{
  margin: 40px auto;
}
.tablaP{
  /* Stands for: "Tabla de Personajes" */
  border: 3px solid red;
  margin: 5px;
  padding: 2px;
  display: inline-block;
  width: min-content;
}
#optC{
  /* Este es el option chart */
  position: absolute;
  left: 1cm;
  top: 0.5cm;
  display: none;
}
#optB{
  /* Este es el option button */
  background: none;
  position: fixed;
  --5vw: 5vw;
  right: var(--5vw);
  top: var(--5vw);
}
#optB:hover{
  transform: scale(2);
}
